<!DOCTYPE html>
<html lang="en" class="bg-custom-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rinterior (PHthirdAssignment)</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <script
      src="https://kit.fontawesome.com/fd93932fe5.js"
      crossorigin="anonymous"
    ></script>

    <script src="../static/javaScript/index.js" defer></script>

    <link rel="stylesheet" href="../static/css/output.css" />
  </head>
  <body class="text-black">
    <!-- navbar -->
    <header class="headerSection w-[100%] py-2 sm:py-4 sticky top-0 z-50">
      <div class="navbar container">
        <a href="" class="navbar-start flex space-x-2 items-center">
          <i
            class="fa-solid fa-arrow-right bg-custom-green rounded-full p-2 rotate-[310deg] text-[1.2rem]"
          ></i>
          <h3 class="">Rinterio</h3>
        </a>

        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a class="eachMenu" href="./index.html">Home</a></li>
            <li><a class="eachMenu" href="#processSection">Services</a></li>
            <li><a class="eachMenu" href="#portfolioSection">Portfolio</a></li>
            <li><a class="eachMenu" href="#newsSection">News</a></li>
            <li><a class="eachMenu" href="#connectSection">Contact Us</a></li>
          </ul>
        </div>

        <div class="navbar-end space-x-2">
          <!-- <button
            class="btn btn-sm btn-ghost bg-white btn-circle hidden sm:inline-block"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button> -->

          <div class="dropdown dropdown-end hidden sm:inline-block">
            <div
              tabindex="0"
              role="button"
              class="btn btn-sm bg-white btn-ghost btn-circle border border-1px border-purple-50 flex"
            >
            <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div
              tabindex="0"
              class="card card-compact bg-white dropdown-content z-[1] mt-3 w-52 shadow"
            >
            <input type="search" name="search" id="search" style="border-radius: 10px; padding-block: 10px 12px; border: none;" class="py-3" placeholder="search..">
            </div>
          </div>

          <div class="dropdown dropdown-end hidden sm:inline-block">
            <div
              tabindex="0"
              role="button"
              class="btn btn-sm bg-white btn-ghost btn-circle border border-1px border-purple-50 flex"
            >
              <div class="indicator">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                  />
                </svg>
                <span class="badge badge-sm indicator-item">8</span>
              </div>
            </div>
            <div
              tabindex="0"
              class="card card-compact bg-white rounded-md dropdown-content z-[1] mt-3 w-52 shadow"
            >
              <div class="card-body">
                <span class="text-lg font-bold">8 Items</span>
                <span class="text-info">Subtotal: $999</span>
                <div class="card-actions">
                  <button
                    class="btn bg-custom-green hover:bg-custom-half-green border-lime-500 hover:border-lime-500 text-black btn-block"
                  >
                    View cart
                  </button>
                </div>
              </div>
            </div>
          </div>

          <a
            href=""
            class="btn bg-custom-green hover:bg-custom-half-green text-black border-none rounded-full hidden sm:flex space-x-2 justify-center items-center"
          >
            <b class="text-nowrap">Book Consult</b>
            <i
              class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[310deg]"
            ></i>
          </a>

          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16"
                />
              </svg>
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm space-y-2 bg-custom-green dropdown-content rounded-box z-[1] mt-3 w-52 p-2 shadow float-start absolute"
              style="right: 0px"
            >
              <li><a class="eachMenu" href="./index.html">Home</a></li>
              <li><a class="eachMenu" href="#processSection">Services</a></li>
              <li>
                <a class="eachMenu" href="#portfolioSection">Portfolio</a>
              </li>
              <li><a class="eachMenu" href="#newsSection">News</a></li>
              <li><a class="eachMenu" href="#connectSection">Contact Us</a></li>
              <li
                class="sm:hidden bg-white rounded-lg"
              >
                  <input type="search" name="search" id="search" style="border-radius: 10px; padding-block: 10px 12px; border: none;" class="py-3" placeholder="search..">
              </li>

              <li class="sm:hidden bg-white rounded-lg" style="width: 100%">
                <div
                  tabindex="0"
                  class="card card-compact z-[1] mt-3 w-52 shadow"
                >
                  <div class="card-body">
                    <span class="text-lg font-bold">8 Items</span>
                    <span class="text-info">Subtotal: $999</span>
                    <div class="card-actions">
                      <button
                        class="btn bg-custom-green hover:bg-custom-half-green text-black btn-block border-none"
                      >
                        View cart
                      </button>
                    </div>
                  </div>
                </div>
              </li>

              <li class="sm:hidden">
                <a
                  href=""
                  class="btn border-none text-white hover:text-custom-green rounded-full"
                >
                  <b>Book Consult</b>
                  <i
                    class="fa-solid fa-arrow-right bg-custom-green text-black rounded-full p-1 rotate-[310deg]"
                  ></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!-- hero -->

    <section class="CommonSection heroSection p-0">
      <div class="container space-y-6 text-center">
        <img
          src="../static/assets/banner.png"
          alt="Hero Image"
          class="heroImage m-auto w-[80%] sm:w-[70%] lg:w-[50%]"
        />
        <h1 class="m-auto w-[100%] sm:w-[90%]">
          A Barn House of This Design Has a Striking Appearance
        </h1>
        <p class="m-auto w-[100%] sm:w-[90%]">
          This barn house captivates with its blend of rustic charm and modern
          sophistication, featuring oversized wood, sleek metal accents, and
          large windows that flood the space with natural light.
        </p>
        <a
          href=""
          class="btn-lg bg-custom-half-green hover:bg-custom-green text-black w-fit m-auto border-2 border-lime-400 hover:border-lime-400 rounded-full flex space-x-2 justify-center items-center"
        >
          <h5>View Details</h5>
          <i
            class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[310deg]"
          ></i>
        </a>
      </div>
    </section>

    <!-- about us -->

    <section class="CommonSection aboutSection bg-custom-ash" id="aboutSection">
      <div class="container grid grid-cols-1 lg:grid-cols-2 gap-8 relative">
        <img
          src="../static/assets/Vector.png"
          alt=""
          class="absolute top-[-7%] left-[-2%] w-[6.5rem] hidden lg:inline-block"
        />
        <div class="space-y-4 text-center lg:text-start">
          <div
            class="btn bg-white hover:bg-white text-black w-fit m-auto lg:m-0 border-2 border-white hover:border-white rounded-full flex space-x-2 justify-center items-center"
          >
            <i
              class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[390deg]"
            ></i>
            <b>About Us</b>
          </div>

          <h2>We Design Thoughtful, Livable Spaces</h2>
          <p>
            Our team specializes in creating both residential and commercial
            spaces that balance aesthetics with function, providing spaces that
            are not only beautiful but truly livable.
          </p>

          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 justify-between gap-4 text-start"
          >
            <a
              href=""
              class="p-4 rounded-xl bg-white hover:bg-custom-half-green hover:scale-[1.05] duration-[0.6s] text-black border-none flex space-x-3 items-center"
            >
              <img
                src="../static/assets/commercial.png"
                alt="Commercialf"
                class="lg:w-[60px]"
              />
              <div class="space-y-3">
                <h5>Commercial</h5>
                <p class="lg:w-[60%]">
                  Tailored commercial spaces with a touch of modern aesthetics
                  to elevate your business environment.
                </p>
              </div>
            </a>

            <a
              href=""
              class="p-4 rounded-xl bg-white hover:bg-custom-half-green hover:scale-[1.05] duration-[0.6s] text-black border-none flex space-x-3 items-center"
            >
              <img
                src="../static/assets/residential.png"
                alt="Residential"
                class="lg:w-[60px]"
              />
              <div class="space-y-3">
                <h5>Residential</h5>
                <p class="lg:w-[60%]">
                  Experience innovative, modern homes that blend style with
                  everyday practicality.
                </p>
              </div>
            </a>
          </div>
        </div>

        <div
          class="w-[100%] aspect-[3/1.5] lg:h-[100%] rounded-xl"
          style="
            background: url(../static/assets/article3.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          "
        ></div>
      </div>
    </section>

    <!-- Statistics -->

    <section
      class="CommonSection statisticsSection bg-custom-ash"
      id="statisticsSection"
    >
      <div class="container">
        <div
          class="rounded-xl bg-white grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-12 py-12"
        >
          <div class="text-center">
            <i class="fa-solid fa-comment text-[50px]"></i>
            <h2 class="eachStatisticNumber happyReviews"></h2>
            <p>Happy Client Reviews</p>
          </div>

          <div class="text-center">
            <i class="fa-solid fa-building-user text-[50px]"></i>
            <h2 class="eachStatisticNumber completedProjects"></h2>
            <p>Completed Projects</p>
          </div>

          <div class="text-center">
            <i class="fa-solid fa-users text-[50px]"></i>
            <h2 class="eachStatisticNumber happyClient"></h2>
            <p>Our Happy Clients</p>
          </div>

          <div class="text-center">
            <i class="fa-solid fa-user-group text-[50px]"></i>
            <h2 class="eachStatisticNumber teamMembers"></h2>
            <p>Skilled Team Members</p>
          </div>
        </div>
      </div>
    </section>

    <!-- process -->

    <section
      class="CommonSection processSection bg-custom-ash"
      id="processSection"
    >
      <div class="container space-y-8">
        <div class="space-y-4 text-center">
          <div
            class="btn-lg bg-white hover:bg-white text-black w-fit m-auto border-2 border-white hover:border-white rounded-full flex space-x-2 justify-center items-center"
          >
            <i
              class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[390deg]"
            ></i>
            <h5>How We Work</h5>
          </div>

          <h2>Our Works Process</h2>
          <p class="lg:w-[60%] m-auto">
            Our step-by-step approach ensures every detail is carefully planned
            and executed to perfection, from initial concept to final delivery.
          </p>

          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 py-4"
          >
            <div class="text-start p-4 bg-[#E7C1D3] rounded-xl space-y-3">
              <img src="../static/assets/concept.png" alt="" class="w-[50px]" />
              <h5>Concept</h5>
              <p>We start by creating a clear vision for your project.</p>
            </div>

            <div class="text-start p-4 bg-[#EFDA6E] rounded-xl space-y-3">
              <img
                src="../static/assets/flow-chart.png"
                alt=""
                class="w-[50px]"
              />
              <h5>Design Process</h5>
              <p>
                Detailed designs that reflect both aesthetics and practicality.
              </p>
            </div>

            <div class="text-start p-4 bg-[#A4DAC3] rounded-xl space-y-3">
              <img src="../static/assets/vision.png" alt="" class="w-[50px]" />
              <h5>Supervision</h5>
              <p>
                On-site supervision to ensure smooth execution and quality
                results.
              </p>
            </div>

            <div class="text-start p-4 bg-[#77AAEA] rounded-xl space-y-3">
              <img
                src="../static/assets/budget-planning.png"
                alt=""
                class="w-[50px]"
              />
              <h5>Budget Planning</h5>
              <p>
                Transparent budgeting to make sure your project stays on track.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- portfolio -->

    <section
      class="CommonSection portfolioSection bg-custom-ash"
      id="portfolioSection"
    >
      <div class="container space-y-8">
        <div class="space-y-4 text-center">
          <div
            class="btn bg-lime-200 hover:bg-lime-200 text-black w-fit m-auto border-none rounded-full flex space-x-2 justify-center items-center"
          >
            <i
              class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[390deg]"
            ></i>
            <b>Explore our Latest works</b>
          </div>

          <h2>Our Latest Portfolio</h2>
          <p class="lg:w-[60%] m-auto">
            Take a look at some of our most recent projects, ranging from
            cutting-edge commercial buildings to innovative residential homes.
            We take pride in bringing creative ideas to life while maintaining
            the highest standards of quality and design.
          </p>

          <div class="space-y-4 py-4">
            <div class="grid lg:grid-cols-[1fr,1fr] gap-4">
              <div
                class="grid grid-cols-1 sm:grid-cols-[1fr,1.5fr] rounded-xl border gap-4 p-4 bg-white"
              >
                <div
                  class="aspect-[2/1] sm:aspect-auto sm:h-[100%] rounded-xl"
                  style="
                    background: url(../static/assets/img1.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                  "
                ></div>

                <div class="space-y-4 text-start">
                  <h4>Commercial</h4>
                  <p>
                    Innovative commercial space designed with sleek modern lines
                    and open floor plans to encourage collaboration and
                    productivity. Ideal for businesses looking to enhance both
                    form and function in their workspace.
                  </p>
                  <a
                    href=""
                    class="btn bg-white hover:bg-lime-200 text-black w-fit border-2 border-custom-ash hover:border-lime-400 rounded-full flex space-x-2 justify-center items-center"
                  >
                    <b>View Details</b>
                    <i
                      class="fa-solid fa-arrow-right bg-custom-green text-black rounded-full p-1 rotate-[310deg]"
                    ></i>
                  </a>
                </div>
              </div>

              <div class="grid sm:grid-cols-[1fr,1fr] gap-4">
                <div class="rounded-xl border gap-4 p-4 bg-white">
                  <div
                    class="aspect-[2/1] sm:aspect-[3/2] lg:aspect-auto lg:h-[100%] rounded-xl p-4"
                    style="
                      background: url(../static/assets/img2.png);
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                    "
                  ></div>
                </div>

                <div class="rounded-xl border gap-4 p-4 bg-white">
                  <div
                    class="aspect-[2/1] sm:aspect-[3/2] lg:aspect-auto lg:h-[100%] rounded-xl p-4"
                    style="
                      background: url(../static/assets/img3.png);
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                    "
                  ></div>
                </div>
              </div>
            </div>

            <div class="grid lg:grid-cols-[1fr,1fr] gap-4">
              <div
                class="grid grid-cols-1 sm:grid-cols-[1fr,1.5fr] lg:grid-cols-[1.5fr,1fr] rounded-xl border gap-4 p-4 bg-white lg:order-2"
              >
                <div
                  class="aspect-[2/1] sm:aspect-auto sm:h-[100%] rounded-xl lg:order-2"
                  style="
                    background: url(../static/assets/img4.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                  "
                ></div>

                <div class="space-y-4 text-start">
                  <h4>Residential</h4>
                  <p>
                    A luxurious modern residence that marries elegance and
                    comfort. Featuring floor-to-ceiling windows, open living
                    spaces, and high-end finishes that create a perfect
                    sanctuary for modern living.
                  </p>
                  <a
                    href=""
                    class="btn bg-white hover:bg-lime-200 text-black w-fit border-2 border-custom-ash hover:border-lime-400 rounded-full flex space-x-2 justify-center items-center"
                  >
                    <b>View Details</b>
                    <i
                      class="fa-solid fa-arrow-right bg-custom-green text-black rounded-full p-1 rotate-[310deg]"
                    ></i>
                  </a>
                </div>
              </div>

              <div class="grid sm:grid-cols-[1fr,1fr] gap-4">
                <div class="rounded-xl border gap-4 p-4 bg-white">
                  <div
                    class="aspect-[2/1] sm:aspect-[3/2] lg:aspect-auto lg:h-[100%] rounded-xl p-4"
                    style="
                      background: url(../static/assets/img5.png);
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                    "
                  ></div>
                </div>

                <div class="rounded-xl border gap-4 p-4 bg-white">
                  <div
                    class="aspect-[2/1] sm:aspect-[3/2] lg:aspect-auto lg:h-[100%] rounded-xl p-4"
                    style="
                      background: url(../static/assets/img3.png);
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                    "
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- news -->

    <section class="CommonSection newsSection bg-custom-ash" id="newsSection">
      <div class="container space-y-8">
        <div class="space-y-4 text-center">
          <div
            class="btn bg-lime-200 hover:bg-lime-200 text-black w-fit m-auto border-none rounded-full flex space-x-2 justify-center items-center"
          >
            <i
              class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[390deg]"
            ></i>
            <b>Rinterio News</b>
          </div>

          <h2>Read Our Articles and News</h2>
          <p class="lg:w-[60%] m-auto">
            Stay updated with the latest in design trends, architecture
            insights, and expert advice on how to create beautiful, functional
            spaces. Our blog is a hub for inspiration and practical tips for
            your next project.
          </p>

          <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 py-4">
            <div
              class="grid grid-cols-1 sm:grid-cols-[1fr,1.5fr] lg:grid-cols-1 rounded-xl border gap-4 p-4 bg-white"
            >
              <div
                class="aspect-[2/1] sm:aspect-auto sm:h-[100%] lg:h-auto lg:aspect-[3/2] rounded-xl"
                style="
                  background: url(../static/assets/article1.png);
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                "
              ></div>

              <div class="space-y-4 text-start">
                <div class="flex gap-4">
                  <div class="flex gap-1 items-center">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>July14, 2024</p>
                  </div>

                  <div class="flex gap-1 items-center">
                    <i class="fa-regular fa-circle-user"></i>
                    <p>By Admin</p>
                  </div>
                </div>
                <h5>How to Choose the Right Furniture for Your Home</h5>
                <p>
                  Discover how to select furniture that complements your living
                  space, ensuring both style and functionality. We share tips
                  for balancing aesthetics with practicality in every room.
                </p>
                <a
                  href=""
                  class="btn bg-white hover:bg-lime-200 text-black w-fit border-2 border-custom-ash hover:border-lime-400 rounded-full flex space-x-2 justify-center items-center"
                >
                  <b>View Details</b>
                  <i
                    class="fa-solid fa-arrow-right bg-custom-green text-black rounded-full p-1 rotate-[310deg]"
                  ></i>
                </a>
              </div>
            </div>

            <div
              class="grid grid-cols-1 sm:grid-cols-[1fr,1.5fr] lg:grid-cols-1 rounded-xl border gap-4 p-4 bg-white"
            >
              <div
                class="aspect-[2/1] sm:aspect-auto sm:h-[100%] lg:h-auto lg:aspect-[3/2] rounded-xl"
                style="
                  background: url(../static/assets/article2.png);
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                "
              ></div>

              <div class="space-y-4 text-start">
                <div class="flex gap-4">
                  <div class="flex gap-1 items-center">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>July14, 2024</p>
                  </div>

                  <div class="flex gap-1 items-center">
                    <i class="fa-regular fa-circle-user"></i>
                    <p>By Admin</p>
                  </div>
                </div>
                <h5>Design Trends to Watch in 2024</h5>
                <p>
                  Stay ahead of the curve with the latest design trends in
                  modern architecture. Learn about the emerging styles,
                  materials, and technologies shaping residential and commercial
                  spaces this year.
                </p>
                <a
                  href=""
                  class="btn bg-white hover:bg-lime-200 text-black w-fit border-2 border-custom-ash hover:border-lime-400 rounded-full flex space-x-2 justify-center items-center"
                >
                  <b>View Details</b>
                  <i
                    class="fa-solid fa-arrow-right bg-custom-green text-black rounded-full p-1 rotate-[310deg]"
                  ></i>
                </a>
              </div>
            </div>

            <div
              class="grid grid-cols-1 sm:grid-cols-[1fr,1.5fr] lg:grid-cols-1 rounded-xl border gap-4 p-4 bg-white"
            >
              <div
                class="aspect-[2/1] sm:aspect-auto sm:h-[100%] lg:h-auto lg:aspect-[3/2] rounded-xl"
                style="
                  background: url(../static/assets/article3.png);
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                "
              ></div>

              <div class="space-y-4 text-start">
                <div class="flex gap-4">
                  <div class="flex gap-1 items-center">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>July14, 2024</p>
                  </div>

                  <div class="flex gap-1 items-center">
                    <i class="fa-regular fa-circle-user"></i>
                    <p>By Admin</p>
                  </div>
                </div>
                <h5>Maximizing Small Spaces: Smart Design Tips</h5>
                <p>
                  Learn how to make the most of small spaces with clever design
                  strategies that increase functionality without sacrificing
                  style. Perfect for urban dwellings and compact homes.
                </p>
                <a
                  href=""
                  class="btn bg-white hover:bg-lime-200 text-black w-fit border-2 border-custom-ash hover:border-lime-400 rounded-full flex space-x-2 justify-center items-center"
                >
                  <b>View Details</b>
                  <i
                    class="fa-solid fa-arrow-right bg-custom-green text-black rounded-full p-1 rotate-[310deg]"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- connect -->

    <section
      id="connectSection"
      class="CommonSection connectSection"
      style="
        background: url(../static/assets/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      "
    >
      <div class="container space-y-8">
        <div class="space-y-4 text-center">
          <div
            class="btn bg-lime-200 hover:bg-lime-200 text-black w-fit m-auto border-none rounded-full flex space-x-2 justify-center items-center"
          >
            <i
              class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[390deg]"
            ></i>
            <b>Let's Connect</b>
          </div>

          <h2>Let's Discuss Your Next Project</h2>
          <p class="lg:w-[60%] m-auto">
            We'd love to hear from you! Share your project ideas and let's work
            together to bring them to life.
          </p>

          <form
            class="grid gap-6 py-4 lg:w-[70%] m-auto"
            action="https://formsubmit.co/emonhassan895@gmail.com"
            method="post"
          >
            <div class="grid sm:flex gap-6">
              <input
                type="text"
                name="firstName"
                id="firstName"
                required
                minlength="2"
                placeholder="First Name *"
              />
              <input
                type="text"
                name="lastName"
                id="lastName"
                required
                minlength="2"
                placeholder="Last Name *"
              />
            </div>
            <div class="grid sm:flex gap-6">
              <input
                type="number"
                name="phone"
                id="phone"
                required
                minlength="11"
                placeholder="Phone Number *"
              />
              <input
                type="email"
                name="Email"
                id="Email"
                required
                placeholder="Email *"
              />
            </div>

            <textarea
              name="massage"
              id="massage"
              cols="30"
              rows="10"
              required
              minlength="10"
              placeholder="Write your message here *"
            ></textarea>

            <button
              type="submit"
              class="btn bg-custom-green hover:bg-custom-half-green text-black border-none rounded-full flex space-x-2 justify-center items-center"
            >
              <b class="text-nowrap">Send Mail</b>
              <i
                class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[310deg]"
              ></i>
            </button>
          </form>
        </div>
      </div>
    </section>

    <!-- footer -->

    <section
      class="CommonSection footerSection bg-[#1C1C1C]"
      id="footerSection"
    >
      <div class="container">
        <div class="space-y-6 text-center">
          <a
            href=""
            class="navbar-start flex items-center space-x-2 w-fit m-auto"
          >
            <i
              class="fa-solid fa-arrow-right bg-custom-green rounded-full p-2 rotate-[310deg] text-[1.2rem]"
            ></i>
            <h3 class="text-white">Rinterio</h3>
          </a>

          <p class="lg:w-[60%] m-auto text-[#737373]">
            The barn house captivates with its blend of rustic charm and modern
            sophistication, featuring weathered wood, sleek metal accents.
          </p>

          <div
            class="lg:w-[60%] m-auto flex flex-col gap-4 sm:flex-row sm:gap-0 justify-between items-center"
          >
            <a
              href="./index.html"
              class="eachMenu text-white hover:text-custom-green"
            >
              Home</a
            >
            <a
              href="#processSection"
              class="eachMenu text-white hover:text-custom-green"
            >
              Service</a
            >
            <a
              href="#portfolioSection"
              class="eachMenu text-white hover:text-custom-green"
            >
              Portfolio</a
            >
            <a
              href="#newsSection"
              class="eachMenu text-white hover:text-custom-green"
            >
              News</a
            >
            <a
              href="#connectSection"
              class="eachMenu text-white hover:text-custom-green"
            >
              Contact Us</a
            >
          </div>

          <a
            href=""
            class="btn-lg bg-custom-green hover:bg-custom-half-green text-black border-none rounded-full flex space-x-2 justify-center items-center sm:w-fit m-auto"
          >
            <h5 class="text-nowrap">Book Consult</h5>
            <i
              class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[310deg]"
            ></i>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
