<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHthirdAssignment</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <script
      src="https://kit.fontawesome.com/fd93932fe5.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../static/css/output.css" />
  </head>
  <body class="text-black">
    <!-- navbar -->
    <header class="w-[100%] pt-4">
      <div class="navbar container">
        <a href="" class="navbar-start flex space-x-2">
          <i
            class="fa-solid fa-arrow-right bg-custom-green rounded-full p-2 rotate-[310deg]"
          ></i>
          <h3 class="">Rinterio</h3>
        </a>

        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a>Home</a></li>
            <li><a>Services</a></li>
            <li><a>Portfolio</a></li>
            <li><a>Blogs</a></li>
            <li><a>Contact Us</a></li>
          </ul>
        </div>
        <div class="navbar-end space-x-2">
          <button
            class="btn btn-sm btn-ghost bg-white btn-circle hidden sm:inline-block"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>

          <div class="dropdown dropdown-end hidden sm:inline-block">
            <div
              tabindex="0"
              role="button"
              class="btn btn-sm bg-white btn-ghost btn-circle border border-1px border-purple-50 flex"
            >
              <div class="indicator">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                  />
                </svg>
                <span class="badge badge-sm indicator-item">8</span>
              </div>
            </div>
            <div
              tabindex="0"
              class="card card-compact dropdown-content z-[1] mt-3 w-52 shadow"
            >
              <div class="card-body">
                <span class="text-lg font-bold">8 Items</span>
                <span class="text-info">Subtotal: $999</span>
                <div class="card-actions">
                  <button
                    class="btn bg-custom-green hover:bg-custom-half-green text-black btn-block"
                  >
                    View cart
                  </button>
                </div>
              </div>
            </div>
          </div>

          <a
            href="#"
            class="btn bg-custom-green hover:bg-custom-half-green text-black border-none rounded-full hidden sm:flex space-x-2 justify-center items-center"
          >
            <span>Book Consult</span>
            <i
              class="fa-solid fa-arrow-right bg-black text-white rounded-full p-1 rotate-[310deg]"
            ></i>
          </a>

          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16"
                />
              </svg>
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm space-y-2 bg-custom-green dropdown-content rounded-box z-[1] mt-3 w-52 p-2 shadow float-start absolute"
              style="right: 0px"
            >
              <li><a>Home</a></li>
              <li><a>Services</a></li>
              <li><a>Portfolio</a></li>
              <li><a>Blogs</a></li>
              <li><a>Contact Us</a></li>
              <li
                class="btn btn-sm btn-ghost bg-white sm:hidden"
                style="padding: 0.4rem 0.2rem"
              >
                <i class="fa-solid fa-magnifying-glass" style=""></i>
              </li>

              <li class="sm:hidden bg-white rounded-lg" style="width: 100%;">
                <div
                  tabindex="0"
                  class="card card-compact z-[1] mt-3 w-52 shadow"
                >
                  <div class="card-body">
                    <span class="text-lg font-bold">8 Items</span>
                    <span class="text-info">Subtotal: $999</span>
                    <div class="card-actions">
                      <button
                        class="btn bg-custom-green hover:bg-custom-half-green text-black btn-block border-none"
                      >
                        View cart
                      </button>
                    </div>
                  </div>
                </div>
              </li>

              <li class="sm:hidden">
                <a
                href="#"
                class="btn border-none text-white hover:text-custom-green rounded-full"
              >
                <span>Book Consult</span>
                <i
                  class="fa-solid fa-arrow-right bg-custom-green text-black rounded-full p-1 rotate-[310deg]"
                ></i>
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!-- hero -->
  </body>
</html>
